@import "../../styles/colours.scss";

.collapseOnMobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  //   background-color: white;
  transition: 0.1s ease-in;
  animation-fill-mode: forwards;
  height: 0px;
  //   height: 100vh;
  .sticky {
    .darkBar {
      z-index: 10000;
      background-color: $dark-grey;
      color: white;
      width: 100vw;
      height: 2em;
    }
  }
  .hide {
    // visibility: hidden;
    -webkit-animation-name: slideOutUp;
    -webkit-animation-duration: 0.1s;
    animation-name: slideOutUp;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  .show {
    // visibility: visible;
    background-color: white;
    -webkit-animation-name: slideInDown;
    -webkit-animation-duration: 0.1s;
    animation-name: slideInDown;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
