@import "../../styles/colours.scss";

.collapseOnMobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  //   background-color: white;
  transition: 0.1s ease-in;
  animation-fill-mode: forwards;
  height: 0px;
  //   height: 100vh;
  .hide {
    -webkit-animation-name: slideOutUp;
    -webkit-animation-duration: 0.1s;
    animation-name: slideOutUp;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  .show {
    background-color: white;
    -webkit-animation-name: slideInDown;
    -webkit-animation-duration: 0.1s;
    animation-name: slideInDown;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    .scrollable {
      max-height: calc(100vh);
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: white;
    }
    .scrollableEnd {
      .bottomBar {
        z-index: 10000;
        background-color: $dark-grey;
        color: white;
        font-size: 25px;
        width: 100vw;
        position: fixed;
        width: 2em;
        height: 2em;
        margin-left: calc(100vw - 3em);
        // margin-right: calc(50vw - 1em);
        margin-bottom: 2em;
        border-radius: 100%;
        bottom: 0.5em;
      }
    }
  }
}

.darkBar {
  z-index: 10000;
  background-color: $dark-grey;
  color: white;
  width: 20em;
  height: 20em;
  position: fixed;
  padding-top: calc(20em - 3em);
  top: calc(-17.5em);
  font-size: 14px;
  margin-left: calc(50vw - 10em);
  margin-right: calc(50vw - 10em);

  border-bottom-left-radius: calc(
    10em * 3
  ); /* 100px of height + 10px of border */
  border-bottom-right-radius: calc(
    10em * 3
  ); /* 100px of height + 10px of border */
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
