@import "../../styles/colours.scss";

.navigation {
  z-index: 1000;
  position: fixed;
  top: 0px;
  padding: 5px;
  width: 100%;
  min-width: 200px;
  height: auto;
  background-color: $light-grey;
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding-right: 5px;
    padding-left: 10px;
  }
  .nav-item {
    // padding-top: 15px;
  }
}
