@import '../../styles/colours.scss';

.App {
  .navigation {
    padding: 15px;
    width: 100%;
    height: auto;
    background-color: $light-grey;
    a, h1, h2, h3, h4, h5, h6, p{
      display: inline;
      padding-right: 5px;
    }
    .navigation-item {
      display: inline;
    }
  }
}
