@import "../../styles/colours.scss";

.filter {
  padding-top: 40vh;
}

.SearchList {
  padding-top: 30px;
  .contentList {
    padding-left: 30px;
    .searchItem {
      padding: 0px;
      margin: 0px;
    }
    .errorMessage {
      margin-top: calc(45vh - 100px);
    }
  }
  .filterBar {
    padding-top: 15px;

    .filterConents {
      padding-left: 30px;
      padding-bottom: 20px;
      // border-bottom: solid 15px $dark-grey;
      .selectionTitle {
        padding-top: 15px;
        padding-bottom: 5px;
      }
      .selectionLabel {
        font-size: 14px;
        padding-left: 3px;
      }
    }
  }
}
