@import '../../styles/colours.scss';

.SearchList {
    padding-top: 30px;

    .service {
        border-style: solid;
        border-width: 1px;
        border-color: $light-grey;
        padding: 5px;
        padding-top: 10px;
        padding-left: 10px;
        margin: 5px;
    }
}