@import "../../styles/colours.scss";

.filter {
  padding-top: 40vh;
}

.SearchList {
  padding-top: 30px;
  .contentList {
    padding-left: 30px;
    .searchItem {
      padding: 0px;
      margin: 0px;
    }
    .errorMessage {
      margin-top: calc(45vh - 100px);
    }
  }
  .filterBar {
    padding-top: 15px;

    .filterConents {
      padding-left: 30px;
      padding-bottom: 20px;
      // border-bottom: solid 15px $dark-grey;
      .resetButton {
        border-radius: 15px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:10px;
        padding-right:10px;
        margin: 10px;
        border: solid 1px $neutral-grey;
        font-size: 12px;
      }
      .selectionTitle {
        padding-top: 15px;
        padding-bottom: 5px;
      }
      .selectionLabel {
        font-size: 14px;
        padding-left: 3px;
      }
    }
  }
}
